.intro, .quiz-questions, .score-page {
    margin-left: auto;
    margin-right: auto;
    width: 38em;
    text-align: center;
    font-size: larger;
}

.intro-btn, .btn {
    height: 25px;
    width: 200px;
}

#showTimer {
    position: absolute;
    top: 0;
    right: 40px;
    width: 100px;
    text-align: right;
}

.viewHighScores {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 200px;
    text-align: left;
}

.quiz-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 300px;
    margin-top: 10px;
    /* margin-left: 250px; */
    justify-content: center;
    background-color: pink;
}

.answer-result {
    margin-top: 10px;
    font-size: larger;
}

.btn:hover {
    background-color: coral;
}


